<fieldset class="box">
  <legend>Dashboard Scroll Fix settings</legend>
  <p>
    <%= check_box_tag 'settings[auto_shrink]', '1', Setting.plugin_dashboard_scroll_fix['auto_shrink'] %>
    <%= label_tag 'settings[auto_shrink]', 'Auto-shrink column width when too many statuses' %>
  </p>
  <p>
    <label for="settings_shrink_width_px">Shrinked column width (in pixels):</label>
    <%= text_field_tag 'settings[shrink_width_px]', Setting.plugin_dashboard_scroll_fix['shrink_width_px'] || 220, size: 6 %>
  </p>
  <p>
    <label for="settings_shrink_threshold">Statuses threshold to trigger shrink:</label>
    <%= text_field_tag 'settings[shrink_threshold]', Setting.plugin_dashboard_scroll_fix['shrink_threshold'] || 8, size: 4 %>
    <span class="hint">If the dashboard has more than this many statuses, auto-shrink will be applied.</span>
  </p>
</fieldset>
